.app-container {
  text-align: center;
  background-color: #eef2f3;
  min-height: 100vh;
}

.toggle-buttons {
  margin: 20px 0;
}

.toggle-buttons button {
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-buttons button:hover {
  background-color: #0056b3;
}
